<div class="header_top">
  <div>
    <% if check_user %>
      <%= link_to current_user.account , "", class: "link_login_header" %>
      <i class="fa fa-qq" id=logo_login></i>
      <%= link_to "Đăng xuất", logout_path, method: :delete, class: "link_login_header" %>
    <% else %>
      <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal">
      <%= t("header.login") %>
      </button>
      <%= render "sessions/new" %>
      <i class="fa fa-qq" id=logo_login></i>
      <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal_create">
        <%= t("header.register") %>
      </button>
      <%= render "users/create" %>
    <% end %>
  </div>
</div>

<div class="header_bottom">
  <div class="nav_big">
    <div>
      <%= link_to image_tag("Noel.png", class: "logo_nav"), root_path %>
    </div>
    <ul class="menu">
      <li>
        <%= link_to "", class: "link_to_menu" do %>
          <div class="text_nav_big_frame">
            <p><%= t("header.kind")%></p>
          </div>
        <% end %>
        <ul class="menu_2" style="z-index: 99">
          <li>
            <table>
              <% MovieType.all.in_groups_of(6) do |movie| %>
                <tr>
                  <% movie.each do |m| %>
                    <td>
                      <%= link_to m.name, genre_movie_path(m.id), class: "link_menu_2" %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </table>
          </li>
        </ul>
      </li>
      <li>
        <%= link_to "#", class: "link_to_menu" do %>
          <div class="text_nav_big_frame">
            <p><%= t("header.year")%></p>
          </div>
        <% end %>
        <ul class="menu_1" style="z-index: 99">
          <li>
            <table>
              <% ['2019','2018','2017','2016','2015','2014'].in_groups_of(2) do |year|%>
                <tr>
                  <% year.each do |y| %>
                    <td>
                      <%= link_to y,
                        year_movie_path(y.to_i),
                        class: "link_menu_2" %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </table>
          </li>
        </ul>
      </li>
    </ul>
     <div class="search_frame">
        <%= form_for searchs_path, url: searchs_path, method: :get do |f| %>
          <%= text_field_tag :search, params[:search], size: "30", class: "search_text" %>
          <%= button_tag(type: "submit", name: nil, class: "button_search") do %>
            <i class="fa fa-search"></i>
          <% end %>
        <% end %>
      </div>
  </div>
</div>
